.App {
  text-align: center;
  /* background-color: black; */
}

#btn {
  margin: 20px 0;
  padding: 25px 50px;
  background-color: red;
  color: white;
  border: 2px solid red;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}

.value {
  font-size: xx-large;
  font-weight: bolder;
  /* color: white; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
